* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}
#container {
  width: 100%;
  max-width: 1400px;
  background-color: black;
  color: white;
  margin: 0 auto;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1.25rem;
}
#main-vid {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}
#main-vid video {
  border-radius: 10px;
  padding: 20px 0;
}
#controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 20px 0;
}
#controls a {
  text-decoration: none;
  color: black;
}
.vid-btn {
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  background-color: white;
  color: black;
  text-align: center;
  font-weight: bolder;
  font-size: 2rem;
  transition: all 0.3s;
}
.vid-btn:hover {
  transform: scale(1.2);
}
#vol-btn {
  width: 60px;
  height: 60px;
  line-height: 60px;
}
.fadeAnimate {
  animation-name: fadeAni;
  animation-duration: 1s;
}
@keyframes fadeAni {
  0% {
    opacity: 0;
    font-size: 1.5rem;
  }
  50% {
    opacity: 1;
    font-size: 2rem;
    text-align: center;
  }
  100% {
    font-size: 1.5rem;
  }
}
#side-vid-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.side-list {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  background-color: white;
  color: black;
  border-radius: 10px;
  overflow: hidden;
  line-height: 150px;
  transition: all 0.3s;
}
.side-list video {
  height: 150px;
}
.side-list:hover {
  background-color: gray;
  transform: scale(1.1);
  font-size: 2rem;
  font-weight: bolder;
}
